APP_ENV=production
APP_PORT=8000
DATABASE_URL=postgresql://user:secret123@localhost:5432/proddb
API_SECRET_KEY=sk_live_998877665544332211
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
